*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(135deg, #0f172a, #1e293b);
    color: white;
    padding: 30px;
}

.container {
    max-width: 1200px;
    margin: auto;
}

h1 {
    text-align: center;
    margin-bottom: 50px;
}

.summary {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.summary div {
    background: rgba(255, 255, 255, 0.08);
    padding: 15px;
    border-radius: 10px;
    width: 32%;
    text-align: center;
}

.dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.card {
    background: rgba(255, 255, 255, 0.05);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 8px;
}

.add {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: #3b82f6;
    color: white;
    cursor: pointer;
}

.add:hover {
    background: #2563eb;
}

ul {
    list-style: none;
    max-height: 250px;
    overflow: auto;
}

li {
    background: rgba(255, 255, 255, 0.08);
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}

.card canvas {
    height: 300px !important;
}

button {
    width: 80%;
    padding: 4px;
    border: none;
    border-radius: 12px;
    background: linear-gradient(135deg, #3b82f6, #2563eb);
    color: white;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 8px 15px rgba(59, 130, 246, 0.3);
}

button:hover {
    transform: translateY(-2px);
    box-shadow: 0 12px 20px rgba(59, 130, 246, 0.5);
}

@media(max-width:900px) {
    .dashboard{
        grid-template-columns: 1fr;
    }
}